<h3>Register</h3>

<form action="/register" method="post">
	<label for="username">New Username:</label>
	<input type="text" name="username">
	<br>
	<br>
	<label for="password">New Password:</label>
	<input type="password" name="password">
	<br>
	<input type="submit" value="Submit">
</form>

<a href="/">Homepage</a>